<ion-header>
  <!-- Just an image -->
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/logo.png" class="rounded" width="45px" alt="..."> Construction
    </a>
  </nav>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-icon [routerLink]="['../']" style="padding-top: 12px;;cursor: pointer; font-size: 18px;"
            name="home-outline"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-title style="padding-top: 10px;">
            CONTACTS
          </ion-title></ion-col>
        <ion-col size="auto">
          <div style="width: 150px"><ion-button (click)="addcontact()" expand="full">Add</ion-button></div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-title>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="d-flex justify-content-between text-center align-items-center pt-2">
    <div class="d-flex align-items-center">
      <div *ngIf="details" class="ms-3 text-xl text-center">
        <h3> Site: {{details.Name}}</h3>
       
      </div>
    </div>

  </div>
  <div *ngFor="let contact of contacts" class="card m-2">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <div class="rounded-circle  bg-dark text-white p-2">
            {{ contact.FirstName | uppercase | slice:0:1 }} {{ contact.LastName | uppercase | slice:0:1 }}
          </div>
          <div class="ms-3">
            <p class="fw-bold text-muted  mb-1">Name: {{contact.FirstName}} {{contact.LastName}}</p>
            <p class="text-muted mb-0">Email: {{contact.Email}}</p>
            <p class="text-muted  mb-0">Role: {{contact.Role}}</p>
          </div>
        </div>
        <span class="badge rounded-pill badge-success">Active</span>
      </div>
    </div>
    <div class="card-footer border-0 bg-dark p-2 d-flex justify-content-around">
      <div class="btn  m-0" style="color: #FFF;" (click)="sendMessage(contact.Mobile)" role="button"
        data-ripple-color="primary">Message<i class="fas fa-envelope ms-2"></i></div>
      <div class="btn m-0 " style="color: #FFF;" (click)="call(contact.Mobile)" role="button"
        data-ripple-color="primary">Call<i class="fas fa-phone ms-2"></i></div>
    </div>
  </div>

</ion-content>